[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
superdelegate = {path = "."}

[dev-packages]
pylint = "*"
pytest = "*"
astroid = "*"

[scripts]
test = "pytest superdelegate/tests.py"

[pipenv]
allow_prereleases = true
